_MACOSX/
._*
.DS_Store
.LSOverride
.AppleDouble
*.csv.gz
*.pyc
utils/gephicsv/
utils/tocsv.ipynb
saved_models/
__pycache__/
data/*
!data/presidential_election/
quantification/results/
quantification/confusion_matrix/
RELEASE_v1.txt